@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "./elements/form.css";
@import "./elements/progress-bar.css";
@import "./themes/minimal.css";
@import "./themes/card.css";
@import "./themes/impact.css";
@import "./themes/registry.css";
@import "./themes/neon.css";

.voces-widget {
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
    text-align: left;
}

.voces-widget *,
.voces-widget *::before,
.voces-widget *::after {
    box-sizing: inherit;
}
