.voces-widget {
    .voces-label,
    .voces-checkbox-label {
        a {
            color: inherit;
            text-decoration: underline;
            font-weight: 500;
        }
    }
    .voces-required {
        margin-left: 0 !important;
    }
}
