.voces-widget {
    .voces-label {
        display: flex !important;
        column-gap: 0.25em;
        flex-wrap: wrap;
    }

    .voces-label,
    .voces-checkbox-label {
        a {
            color: inherit;
            text-decoration: underline;
            font-weight: 500;
        }
    }
    .voces-required {
        margin-left: 0 !important;
    }
}
